.skillBg {
    background-image: url("~/public/assets/skills.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.skillsOverlay{
    background-color: rgba(0, 16, 38, 0.9);
}
.skillLine{
    width: 0.2rem;
    border-radius: 0.2rem;
    background: white;
    height: 18vh;
    margin: 0rem 1rem 0rem 1rem;
}
.skillIcon{
    i{
        color: white;
    }   
}
.skillIconBox{
    text-align: center;
    flex: 1 1 -1%;
    padding: 1rem;
}
@media (max-width: 992px) {
    .skillIconBox{
        flex: 1 1 26%;
    }   
}
@media (max-width: 400px) {
    .skillIconBox{
        flex: 1 1 100%;
    }   
}