.home{
  background-image: url("~/public/assets/my_img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.experiennceBtn{
  i{
  padding-left: 0.5rem;
  color: white !important;
  };
}