.mainBody{
    background: #01183b;
    overflow-y: scroll;
    padding: 0rem 0.5rem 1rem 0.5rem;
}
.icons{
i{
    color: white;
}
}
.links{
    font-weight: 400;
    font-size: 1.1rem;
    color: #60ACE6 !important;
}